<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenjw.mapper.StockMapper">
    <insert id="reduceStock">
        update stock_tbl set count = count - 1 where id = #{id}
    </insert>
</mapper>